{% extends 'base.html' %}
{% load static %}
{% block title %} Inicio {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<!--Inicio portada -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/foto_panel_ecoparque.jpg'  %}" class="d-block w-100" alt="..." style="max-height: 55vh; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/carpincho.jpg' %}" class="d-block w-100" alt="..." style="max-height: 55vh; object-fit: cover;">
    </div>
  </div>
</div>
<!-- fin portada -->

<!--inicio bloque bienvenida -->
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h2 class="display-5 fw-bold text-white">Sistema de Registro de Empleados</h2>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Bienvenido al sistema de registro de empleados
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Ver empleados</button>
        </div>
      </div>
    </div>
  </div>
<!--fin bloque bienvenida -->

{% endblock content %}
