<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img src="https://github.com/mdo.png" alt="mdo" width="40" height="32" class="bi me-2">
            </a>

            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'Empleado_App:Inicio' %}" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="{% url 'Empleado_App:listar-empleados' %}" class="nav-link px-2 text-white">Empleados</a></li>
                <li><a href="{% url 'Empleado_App:listar-empleados-admin' %}" class="nav-link px-2 text-white">Administrar</a></li>
                <li><a href="{% url 'Departamento_App:listar-departamentos' %}" class="nav-link px-2 text-white">Departamentos</a></li>
                <li><a href="{% url 'Departamento_App:nuevo-depto' %}" class="nav-link px-2 text-white">Registrar Departamento</a></li>

            </ul>

            <!--form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4" role="search" method="get">
                <div class="input-group">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </div>
            </form-->

            <div class="text-end">
                <a type="button" href="{% url 'Empleado_App:add-empleado' %}" class="btn btn-warning">Registrar</a>
            </div>
        </div>
    </div>
</header>